$color-text:rgb(233, 102, 20);
$color-text-secondary:rgb(0, 0, 0);
$color-text-terceary:rgb(201, 195, 163);
$color-primary:rgb(233, 102, 20);
$color-backgorund-footer:rgb(72, 75, 76);
$color-text-primary:rgb(240, 248, 255);
