*{
margin: 0;
padding: 0;
box-sizing: border-box;


}
/*-----------------------Navigation bar - -----------------  */


.logo{
    width: 250px;
}
.navegador {
    position: sticky;
    z-index: 10;
    border-bottom: #bcbcc7 solid 2px;
}


.navegador div {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.menu ul {
    display: flex;
    flex-direction: row;
    gap: 15px;
    list-style: none;
}
.menu ul li a {
    color: rgb(13, 12, 12);
    font-size: large;
    text-decoration: none;
}
.menu ul li a:hover {
    color: rgb(233, 102, 20);
}
.button_nav button {
    border-radius: 5px;
    background-color: rgb(233, 102, 20);
    width: 80px;
    height: 30px;
    text-align: center;
    border: none;
    color: aliceblue;
    font-size: 14x;
    cursor: pointer;
    font-weight:bolder;
}
@media (max-width:800px) and (min-width:2px){
.logo{
        width: 200px;
    }
.navegador div{
    display:flex;
    flex-direction:column;
    justify-content: center;
}
.menu ul {
        flex-direction: column;
        justify-content: center;
        text-align: center
    }

.menu ul li a:hover {
    background-color: #bcbcc7;
    }
}






/* --------------------------------BODY-----------in this secction edit body content  */

.layout_body_title h1{
    text-align: center;
    font-size: 50px;
    color:rgb(9, 9, 8);
}
.layout_body_title_h2{
    text-align: center;
}
.layout_body_title strong{
    color:rgb( 233,102,20);
    font-size: 60px;
} 
.welcome_text{
    display: flex;
    flex-direction: column;
    align-items: center;   
}
.welcome_text p {
    text-align:center;
    font-size: 40px;
    text-align: center;
    margin: 30px 30px ;
}
.welcome_text strong{
    color: #F2780C;
    font-size: 60px;
}
.layout_body_h2{
    margin: 30px;
    
}
.bnr_cotizar{
    background-image: url(../img/SL_060521_43530_09.jpg);
    background-attachment: fixed;
    margin: 0px;
    padding: 20px;
    width: 1200;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.bnr_cotizar ,h1 h2 {
    color: aliceblue;
}
.bnr_cotizar_1{
    padding-right: 30px;
}
.button_style2, button{
    border: none;
    width: 300px;
    height: 30px;
    background-color: #a3a29b;
    border-radius: 5px;
    color: rgb(243, 243, 243);
    cursor:pointer;

}

@media (max-width:896px) and (min-width:2px){

.layout_body_title{
    text-align: center;
    font-size: medium;
}
.welcome_text{
    display: flex;
    flex-direction:column;
    text-align: center;
}
.layout_body_title_img{
    width: auto;
    height: 300px;
}
.layout_body_title_h2{
 align-items: center;
 text-align: center;
}

}























/* -------------------------------------------------------layout  body serivice */


.body_service_line{
    width: 150px;
    height: 5px;
    border: none;
    border-radius:5px ;
    background-color:rgb(233, 102, 20);
    display:flex;
    flex-direction: row;
    align-items: start;
}
.layout_body_service_h1{
    font-size: 40px;
    margin-bottom: 10px;
    text-align: center;
}
.layout_body_service_h2{
    text-align: center;
    margin-bottom: 50px;
}
.layout_body_service{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px;
    padding: 20px ;
    box-sizing: border-box;

}

.layout_body_img div{
margin: 10px;
}
.layout_body_img img{
    width: 300px;
    height: 200px;
    border-radius: 5px;
    border: solid 2px;

}

.layout_body_description {
    color: rgb(230, 132, 28);
    padding: 10px;
    text-align: center;
    font-size: large;
}
@media(max-width:896px) and (min-width:2px){
    .layout_body_service{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.layout_body_service_h1{
    margin: 10px;
}
.layout_body_description{
    text-align: center;
}
.layout_body_service_h2 h2{
    margin: 10px
}
} 

/* -------------------------------fOOTER-------------------------- */



.layout_footer{
    display: flex;
    flex-direction:column;
    padding: 50px;
    line-height: 24px; 
}
footer{
    background-color:#484b4c;
} 
footer{
    color: aliceblue;
    font-size:15px;
}
.layout_footer_company_logo{
    width: 250PX;
}
.layout_footer_company_name{
    padding-top: 30px;
    font-weight: bold;
    color: aliceblue;
    font-size: 19px;
}

.layout_footer_utility_colum ul{
    display: flex;
    flex-direction:row;
    list-style: none;
    justify-content: flex-end;
}
.layout_footer_utility_colum ul li a{
    padding: 10px;
    text-decoration: none;
    color: aliceblue;
    font-size: large;
    
}
footer ul li a:hover{ 
    color:rgb(233, 102, 20) ;
}
.social_media ul{

    display: flex;
    flex-direction: row;
    list-style: none;
}
.social_media ul li a{
padding: 10px;
}
p{
    text-align:center;
    font-size: medium;
}

@media (max-width:896px) and (min-width:2px){
.footer{ 
display: flex;
justify-content: center;
align-items: center;
}
.layout_footer{
    align-content: center;
}
.layout_footer_utility_colum ul
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}
.social_media {
    align-items: center; 
}
p{
    text-align: center;
}

}

/* -----------------------------------contacto-------------------------------------------- */
.contact_title_h2{
padding-top: 50px;
font-size: x-large;
text-align: center;
color: rgb(233, 102, 20);
}
.contact_form input , .contact_form textarea{
    width: 300px;
}
.contact_form{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
}
.visit_us{
    font-size: x-large;
    text-align: center;
    padding-bottom: 15px;
    color: rgb(233, 102, 20)
}
.location{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-bottom: 40px;
}


/*  ----------------------------------PAGINA ACREDITACION ---------------------- */

.layout_acreditacion_body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 20px;

}

.layout_acreditacion_img{
    box-sizing: border-box
}

.description{
    text-align: center;
}
